[Unit]
Description=Run cleanupd-indexer.service periodically (hourly)
Requires=cleanupd-indexer.service

[Timer]
Unit=cleanupd-indexer.service
OnBootSec=1min
OnCalendar=hourly
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target