[Unit]
Description=Run indexer.service periodically (hourly)
# Timer ini sekarang mengontrol service yang baru
Requires=cleanupd-indexer.service

[Timer]
# Nama unit yang akan dijalankan
Unit=cleanupd-indexer.service
OnBootSec=1min
OnCalendar=hourly
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target