[Unit]
Description=Run cleanup.service periodically (30 mins past the hour)
# Timer ini sekarang mengontrol service yang baru
Requires=cleanupd-cleaner.service

[Timer]
# Nama unit yang akan dijalankan
Unit=cleanupd-cleaner.service
OnBootSec=15min
OnCalendar=*:30
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target