[Unit]
Description=Run cleanupd-cleaner.service periodically (30 mins past the hour)
Requires=cleanupd-cleaner.service

[Timer]
Unit=cleanupd-cleaner.service
OnBootSec=15min
OnCalendar=*:30
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target